server:
  port: 8085

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/campus_collab_db
    username: root
    password: Suraj@2121

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

  servlet:
    multipart:
      enabled: true
      max-file-size: 50MB # Maximum size for each file
      max-request-size: 100MB # Maximum size for the entire request

  # ========================================
  # EMAIL CONFIGURATION
  # ========================================
  # TODO: Replace with your Gmail credentials
  mail:
    host: smtp.gmail.com
    port: 587
    username: studenthub.noreplys@gmail.com
    password: ssneloqihnfguwvv
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

  application:
    name: campus-collab-platform
